[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/luanbonizi/VS%20code/SextoSemestre/Compiladores/lexicalCompiler.l
Type=Link
URL=file:///home/luanbonizi/VS%20code/SextoSemestre/Compiladores/lexicalCompiler.l
Icon=text-x-matlab
Name[pt_BR]=lexicalCompiler.l
