[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/luanbonizi/VS%20code/SextoSemestre/Compiladores/teste.txt
Type=Link
URL=file:///home/luanbonizi/VS%20code/SextoSemestre/Compiladores/teste.txt
Icon=text-plain
Name[pt_BR]=teste.txt
